<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet" />
</head>
<body>
<h2>Books</h2>
<p><a href="/ru_vsu_cs_artemyeva_war_exploded/products">Index</a></p>
<table border="1">
    <tr>
        <th>Products</th>
        <th>Publishing House</th>
        <th>Author</th>
    </tr>
<div th:each="paper: ${books}">
    <tr>
        <td><a th:href="@{/products/{id}(id=${paper.getID()})}" th:text="${paper.getName()}"></a></td>
        <td><p th:text="${paper.getPublishingHouse()}"></p></td>
        <td><p th:text="${paper.getAuthor()}"></p></td>
    </tr>
</div>
</table>
</body>
</html>