<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="author">Author: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <br/>
    <label for="publishingHouse">Publishing house: </label>
    <input type="text" th:field="*{publishingHouse}" id="publishingHouse"/>
    <br/>
    <label for="numPages">Number of pages: </label>
    <input type="text" th:field="*{numPages}" id="numPages"/>
    <br/>
    <input type="submit" value="Create"/>
</form>
</body>
</html>