<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet" />
</head>
<body>
<h2>Products</h2>
<table border="1">
    <tr>
        <th>Products</th>
        <th>Publishing House</th>
    </tr>
<div th:each="paper: ${products}">
    <tr>
        <td><a th:href="@{/products/{id}(id=${paper.getID()})}" th:text="${paper.getName()}"></a></td>
        <td><a th:href="@{/products/{id}(id=${paper.getID()})}" th:text="${paper.getName()}"></a></td>
    </tr>
</div>
</table>
</body>
</html>